<p id="notice"><%= notice %></p>

<h1>Listing Karyawans</h1>

<table>
  <thead>
    <tr>
      <th>Nip</th>
      <th>Nama</th>
      <th>Alamat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @karyawans.each do |karyawan| %>
      <tr>
        <td><%= karyawan.nip %></td>
        <td><%= karyawan.nama %></td>
        <td><%= karyawan.alamat %></td>
        <td><%= link_to 'Tampilkan Data', karyawan %></td>
        <td><%= link_to 'Ubah', edit_karyawan_path(karyawan) %></td>
        <td><%= link_to 'Hapus', karyawan, method: :delete, data: { confirm: 'Apakah anda akan menghapus ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah Data Karyawan', new_karyawan_path %>
